        
        body {
            margin: 0 auto;
            width: 1100px;
            background-color: rgb(240, 208, 243); 
        }

        h3 {
            color: rgb(163, 165, 166);
        }

        h1 {
            font-size: 50px;
            color: goldenrod;
        }

         nav {
            background-color: goldenrod;
        }
        
        .H{
            text-decoration:none; color:#000;
        }

        #ccc {

            background-color: dimgray;
        }

        nav a{
            text-decoration: none; 
            color: black;
        }

        nav a:hover{
            text-decoration: underline;
            color:blue;
        }

        .col-sm-8 {
            background-color: black;
        }

        .col-sm-8>div>p {
            color: rgb(163, 165, 166);
        }

        .col-sm-4 {
            background-color: rgb(113, 113, 113);
        }

        .col-sm-4>div>p {
            color: rgb(163, 165, 166)
        }

        footer {
            background-color: goldenrod;
        }

        footer>div {
            text-align: center;
            color:black;
        }