@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body
{
margin: 0;
}

header
{
    width:100%;
height: 65px;
padding:20px 0;
position: fixed; /* 스크롤에도 고정 */
    z-index: 999;
    transition:.3s;
}

header.active
{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16);
    transition:.3s;
}

header.active #topMenu>li>a
{
    color:#000;
}

header.active .btns>li>a{
    color:#000;
}


h3
{
font-size: 55px;
margin: 0;
color: #07c;
height: 100%;
padding-right: 50px;
padding-left: 45px;     
}

li
{
list-style: none;
}

.cnt
{
display: flex;
align-items: center;
width: 100%;

}

ul
{
display: flex; /* 가로정렬 */
height: 100%;
margin: 0;
align-items: flex-end;
justify-content: space-between; /* 일정한 공백으로 배치 */
align-items: baseline;
}

li:nth-child(4) /* 2n은 짝수 2n-1은 홀수 */
{
padding-right: 0;
}

a
{
text-decoration: none;
}

a:hover
{
color: white;
}


#topMenu 
{
height: 60px;
}

/* 서브메뉴를 absolute로 만들기 위해 부모 요소를 relaticve로 지정 */
/* display: flex;align-items: left;justify-content: left; */

#topMenu>li 
{
float: left;
position: relative;
width: 150px;
/* padding-right: 65px; */
font-size: 17px;
/* width: 219px; */
margin: 0 32px;
text-align: center;
}

#topMenu>li>a {
display: block;
/* 링크 텍스트를 블록으로  */
color: #000;
font-weight: 600;
padding: 20px;
}

#topMenu>li>a>span {
font-size: 0.5em;
}

#topMenu>li:hover >a{
color:#0077cc;
}


#topMenu>li>ul 
{
display: none;
width: 150px;
background-color: #0077cc;
left: 0%;
top: 15px;
/* left: 20px; */
padding-left: 0;
position: inherit;
border-radius: 20px;
padding:20px 0;
box-shadow: 3px 3px 10px rgba(0,0,0,0.16);
}

#topMenu>li>ul>li
{
/* padding: 10px 10px 10px 30px; 물어볼거 */
padding: 10px 0;
}

#topMenu>li>ul>li>a
{
font-size: 16px;
/* padding: 10px; */
color: #fff;
font-weight:500;
}

#topMenu>li:hover>ul {
/* hover가 마우스 올릴시 */
display: block;
/* 메인 메뉴 항목 위로 오버하면 서브메뉴 표시 */
z-index: 10;
/* 슬라이드 쇼에 다리지 않게 조절 */
}

#topMenu>li>ul>li>a:hover {
text-decoration: underline;
}

.btns>li>a
{
display: block;
/* 링크 텍스트를 블록으로  */
color: #000;
font-weight: 600;
padding: 20px; 
/* 상 하 좌 우 다 20px씩 패딩준다 */
}

.top_menu
{
margin-left: auto; /* 맨 오른쪽으로 붙이고 싶을때 */
padding-right: 25px;
}

.top_menu>

i
{
    margin-right: 10px;
}

.join
{
     margin-right: 25px;
}

.btns>li>a:hover {
    text-decoration: underline;
}
#search:hover
{
    color: #000;
    text-shadow: 0 -1px;
}

#footer
{
    display: flex;
    width: 100%;
    height: 260px;
    background-color: #282828;
    position: relative;
    align-items: center;

}

.text_box
{   
    display: flex;
    margin-left: auto;
    width: 420px;
}

.text_box>p>span
{
    display: flex;
    color: aliceblue;
    font-size: 17px;
}

.my-wrap
{
    background:#e6e6e6; 
    width:100%;
}

.my-box
{
    display:flex;
    padding:40px;
}

.my-box img
{
    width:205px;
}

.my-info
{
    padding-left:40px;
    font-family: 'Pretendard-Regular';
    
}



.my-price
{
    margin-top:auto;
    margin-left: auto;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer
{
    margin-top: 600px;
}

.my-header
{
    display: flex;
    justify-content: space-between;
    padding: 35px 15%;
}

.my-tex
{
    width: 100%;
    
}

.my-tex>span
{
    font-size: 35px;
}

.my-body
{
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.my-btn
{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.or-box
{
    position: absolute;
    bottom: 190px;
    z-index: 9;
    width: 100%;
    height: 200px;
}

.or-box .or-bt
{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 280px;
}

.or-box .or-bt .bt1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    padding-top: 32px;

    width: calc(100% / 3); 
}

.bt1 .txt1
{
    background: url('/orca/images/z.png') no-repeat center/cover;
    width: 100%;
    height: 100%;
}

.bt1 .txt2
{
    background: url('/orca/images/x.png') no-repeat center/cover;
    width: 100%;
    height: 100%;
}

.bt1 .txt3
{
    background: url('/orca/images/c.png') no-repeat center/cover;
    width: 100%;
    height: 100%;
}

.bt1 .btn
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icon1
{
    background: url('/orca/images/pc.png');
    width: 64px;
    height: 64px;
}

.icon2
{
    background: url('/orca/images/computer\ time.png');
    width: 64px;
    height: 64px;
}

.icon3
{
    background: url('/orca/images/monitor.png');
    width: 64px;
    height: 64px;
}

.bt1 .btn p
{
    font-size: 23px;
    margin: 0;
    padding-top: 25px;
}

.bt1 .btn span
{
    font-size: 26px;

}

.my-page
{
    padding-top: 65px;
}

.or-table
{
    display: flex;
    justify-content: center; 
    width:100%;
}
.ot
{
    width:80%;
}
.ot .table{
    width:100%;
}

.ot .table tr
{
    text-align: center;
}

.ot .table thead tr th
{
    width:calc(100% / 7);
}